html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
  animation: flipOpen 0.3s;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
  animation: elastic 0.75s;
}

.deck .card.unmatched {
  cursor: default;
  background: red;
  font-size: 33px;
  animation: unmatchedElastic 0.75s;
}

.disable {
  cursor: default;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 520px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
  color: orange;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: -2000;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.open-modal {
  display: block;
  transition: top 2s;
  top: 0;
}

.content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  height: 100%;
}

.play-again {
  background: #02ccba;
  border: none;
  padding: 1em 2em;
}

.play-again:hover {
  background: #02bebe;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  color: #fff;
}

/* animates on card open */
@keyframes flipOpen {
  from {
    transform: perspective(800px) rotate3d(0, 1, 0, 180deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  25% {
    transform: perspective(800px) rotate3d(0, 1, 0, 210deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: perspective(800px) rotate3d(0, 1, 0, 240deg);
    opacity: 1;
  }

  75% {
    transform: perspective(800px) rotate3d(0, 1, 0, 270deg);
  }

  to {
    transform: perspective(800px);
  }
}

@keyframes elastic {
  from {
    transform: scale3d(1, 1, 1) rotateZ(-10deg);
  }

  25% {
    transform: scale3d(0.75, 0.75, 1) rotateZ(10deg);
  }

  50% {
    transform: scale3d(1.25, 1.25, 1) rotateZ(-20deg);
  }

  75% {
    transform: scale3d(1.05, 1.05, 1) rotateZ(20deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes unmatchedElastic {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
